<footer class="footer bg-black">
  <div class="container py-11 py-lg-12">
    <div class="d-lg-flex">
      <div class="w-lg-50">
        <div class="mb-10 mb-lg-9">
          <a href="#">
            <img src="../assets/images/LOGO-white.png" alt="LOGO-white.png" />
          </a>
        </div>
        <ul class="mb-10 mb-lg-0 d-lg-flex">
          <li class="text-white mb-5 mb-lg-0 me-9"><a href="#">常見問題</a></li>
          <li class="text-white mb-5 mb-lg-0 me-9"><a href="#">關於我們</a></li>
          <li class="text-white mb-5 mb-lg-0 me-9">
            <a href="#">隱私權政策</a>
          </li>
          <li class="text-white"><a href="#">使用者條款</a></li>
        </ul>
      </div>
      <div class="w-lg-50 text-lg-end">
        <div class="mb-5">
          <a href="#">
            <img
              src="../assets/images/btn_line.svg"
              alt="btn_line.svg"
              class="me-5"
            />
          </a>
          <a href="#">
            <img
              src="../assets/images/btn_yt.svg"
              alt="btn_yt.svg"
              class="me-5"
            />
          </a>
          <a href="#">
            <img src="../assets/images/btn_fb.svg" alt="btn_fb.svg" />
          </a>
        </div>
        <p class="text-white fs-sm">
          copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
