<nav class="navbar py-4 py-lg-5 fixed-top">
  <div class="container position-relative">
    <div class="d-flex align-items-center me-auto">
      <a class="navbar-brand p-0 me-7" href="index.html"
        ><img src="../assets/images/LOGO.png" alt="LOGO.png"
      /></a>
      <form class="position-relative d-none d-lg-block">
        <span
          class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
        >
          search
        </span>
        <input
          type="search"
          class="form-control rounded-1 py-2 ps-10 navbar-lg-search"
          id="navbar-lg-search"
          placeholder="搜尋景點、地點或城市"
        />
      </form>
    </div>

    <div class="position-absolute z-1 start-0 end-0 px-4 bg-white">
      <div class="collapse" id="collapseExample">
        <div class="d-flex align-items-center">
          <form class="position-relative w-100">
            <span
              class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-4 text-neutral-60"
            >
              search
            </span>
            <input
              type="search"
              class="form-control rounded-1 py-2 ps-10"
              id="exampleFormControlInput1"
              placeholder="搜尋景點、地點或城市"
            />
          </form>
          <button
            type="button"
            class="btn p-2 border-0"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
          >
            <span class="material-icons-outlined align-bottom"> close </span>
          </button>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn p-2 border-0 d-lg-none"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
    >
      <span class="material-icons-outlined align-bottom"> search </span>
    </button>
    <a href="#" class="btn border-0 pt-2">
      <span class="position-relative">
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-alert p-0 cart-tag"
        >
          2
        </span>
        <span class="material-icons-outlined align-bottom">
          shopping_cart
        </span>
      </span>
    </a>

    <div id="user-status" class="d-none d-lg-block">
      <!-- 會員頭像 -->
      <a href="#" id="user-avatar" class="d-flex align-items-center ms-5">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/user/avatar-1.png?raw=true"
          alt="會員頭像"
          width="32px"
          height="32px"
        />
        <p class="ms-2 py-1 text-primary-100 fw-bold">Jessica</p>
      </a>
      <!-- 未登入按鈕 -->
      <div id="guest-message" class="ms-5">
        <button
          type="button"
          class="btn bg-primary-100 text-white rounded-3 py-5 px-9"
        >
          登入 / 註冊
        </button>
      </div>
    </div>
    <!-- 登入 -->
    <button
      class="btn border-0 p-2 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas-user-avatar"
      aria-controls="offcanvasExample"
      id="offcanvas-user-avatar-btn"
    >
      <span class="material-icons-outlined align-bottom"> menu </span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas-user-avatar"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header pt-7 pe-7">
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body p-7 pt-0">
        <div class="d-flex align-items-center pb-5 border-bottom">
          <div class="me-2">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/user/avatar-1.png?raw=true"
              alt="avatar-1.png"
              width="32px"
            />
          </div>
          <div>
            <p class="fw-bold text-primary-100">Jessica</p>
            <p class="text-neutral-80">jessica.yen@gamil.com</p>
          </div>
        </div>
        <div class="d-flex flex-column mt-5 h-100">
          <ul>
            <li>
              <a href="#" class="w-100 text-neutral-80 py-4"
                ><span
                  class="material-icons-outlined align-bottom text-neutral-80 me-2"
                >
                  article </span
                >訂單管理</a
              >
            </li>
            <li>
              <a href="#" class="w-100 text-neutral-80 py-4"
                ><span
                  class="material-icons-outlined align-bottom text-neutral-80 me-2"
                >
                  favorite_border</span
                >我的收藏</a
              >
            </li>
            <li>
              <a href="#" class="w-100 text-neutral-80 py-4"
                ><span
                  class="material-icons-outlined align-bottom text-neutral-80 me-2"
                >
                  settings </span
                >帳號設定</a
              >
            </li>
          </ul>

          <div class="mt-auto">
            <a href="#" class="w-100 text-neutral-80 py-4"
              ><span
                class="material-icons-outlined align-bottom text-neutral-60 me-2"
              >
                logout </span
              >登出</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- 未登入 -->
    <button
      class="btn border-0 p-2 d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas-guest-message"
      aria-controls="offcanvasExample"
      id="offcanvas-guest-message-btn"
    >
      <span class="material-icons-outlined align-bottom"> menu </span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas-guest-message"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header pt-7 pe-7">
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body p-7 pt-0">
        <div class="d-flex align-items-center pb-5 border-bottom">
          <div class="me-2">
            <img src="/assets/images/ic_profile.svg" alt="ic_profile" />
          </div>
          <div>
            <p class="fw-bold text-primary-100">訪客</p>
            <p class="text-neutral-80">未登入</p>
          </div>
        </div>
        <div class="d-flex flex-column mt-7 h-100">
          <div>
            <p class="fs-lg fw-bold lh-sm text-primary-100 mb-1">
              歡迎來到 ZOBAA
            </p>
            <p class="text-neutral-80">
              加入會員即可立即訂購、收藏行程，並享相關優惠好禮。
            </p>
          </div>
          <div class="mt-auto">
            <button
              type="button"
              class="w-100 btn bg-primary-100 text-white fw-semibold p-5 rounded-3"
            >
              登入 / 註冊
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
