<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- banner -->
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <p
                class="fs-6 fs-lg-lg lh-lg-sm fw-bold text-primary bg-primary-10 rounded-2 rounded-lg-4 p-2 p-lg-5 mb-4 mb-lg-4 d-inline-block"
              >
                ZOBAA 旅行推薦平台
              </p>
              <p class="fs-2 fs-lg-72 fw-bold lh-sm text-primary mb-2 mb-lg-7">
                <span class="d-block d-lg-inline">用旅行，</span
                ><span>收藏世界的樣子</span>
              </p>
              <p
                class="fs-sm fs-lg-lg lh-lg-sm fw-bold text-primary-80 mb-7 mb-lg-10"
              >
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <div class="row">
                <div class="col-lg-8">
                  <form class="position-relative w-100">
                    <span
                      class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-2 text-neutral-60"
                    >
                      search
                    </span>

                    <input
                      type="search"
                      class="form-control rounded-3 text-neutral-60 py-6 ps-10"
                      id="exampleFormControlInput1"
                      placeholder="搜尋景點、地點或城市"
                    />
                    <button
                      type="button"
                      class="btn bg-primary-100 text-white fw-semibold rounded-3 position-absolute top-0 end-0 py-4 px-5 m-2"
                    >
                      開始探索旅程
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 你的專屬推薦 -->
      <section class="bg-neutral-100 py-10 py-lg-13">
        <div class="container">
          <!-- 文字 -->
          <div
            class="mb-10 mb-lg-11 d-lg-flex justify-content-lg-between align-items-lg-center"
          >
            <div>
              <p class="fs-2 fs-lg-72 fw-bold lh-sm text-white mb-7 mb-lg-0">
                你的<br />專屬推薦
              </p>
            </div>
            <div>
              <p
                class="fs-sm fs-lg-lg lh-lg-sm fw-bold text-white mb-4 mb-lg-7"
              >
                來看我們的精選推薦行程，滿意度高達 99.2%<br />
                給自己一個難忘的旅遊行程吧！
              </p>
              <a
                href="#"
                class="fs-sm fw-bold text-white d-flex align-items-center"
                >查看全部行程<span
                  class="material-icons-outlined align-bottom fs-6 fs-lg-4 ms-2"
                >
                  arrow_forward
                </span></a
              >
            </div>
          </div>
          <!-- 卡片 電腦版 -->
          <div class="d-none d-lg-flex gap-5 overflow-x-auto">
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend.png?raw=true"
                class="card-img h-100"
                alt="recommend.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  峇里島渡假漫遊
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-1.png?raw=true"
                class="card-img h-100"
                alt="recommend-1.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  日本深度賞櫻計畫
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-2.png?raw=true"
                class="card-img h-100"
                alt="recommend-2.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  紐西蘭雪山探險
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-3.png?raw=true"
                class="card-img h-100"
                alt="recommend-3.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  摩洛哥迷幻之旅
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 卡片 手機版 -->
          <div class="d-lg-none">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend.png?raw=true"
                    class="card-img h-100"
                    alt="recommend.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      峇里島渡假漫遊
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-1.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-1.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      日本深度賞櫻計畫
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-2.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-2.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      紐西蘭雪山探險
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
                    </p>
                    <div class="btn-hover">
                      <button
                        type="button"
                        class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                      >
                        訂購行程<span
                          class="material-icons-outlined align-bottom fs-4 p-1"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-3.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-3.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      摩洛哥迷幻之旅
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination bottom-0"></div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
