<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material+Icons+Outlined -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- 字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- banner -->
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <p
                class="fs-6 fs-lg-lg lh-lg-sm fw-bold text-primary bg-primary-10 rounded-2 rounded-lg-4 p-2 p-lg-5 mb-4 mb-lg-4 d-inline-block"
              >
                ZOBAA 旅行推薦平台
              </p>
              <p class="fs-2 fs-lg-72 fw-bold lh-sm text-primary mb-2 mb-lg-7">
                <span class="d-block d-lg-inline">用旅行，</span
                ><span>收藏世界的樣子</span>
              </p>
              <p
                class="fs-sm fs-lg-lg lh-lg-sm fw-bold text-primary-80 mb-7 mb-lg-10"
              >
                ZOBAA
                整合熱門景點推薦、即時優惠、獨家行程，從比價到訂購，一次完成你的完美出遊計畫。
              </p>
              <div class="row">
                <div class="col-lg-8">
                  <form class="position-relative w-100">
                    <span
                      class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-2 text-neutral-60"
                    >
                      search
                    </span>

                    <input
                      type="search"
                      class="form-control rounded-3 text-neutral-60 py-6 ps-10"
                      id="exampleFormControlInput1"
                      placeholder="搜尋景點、地點或城市"
                    />
                    <button
                      type="button"
                      class="btn bg-primary-100 bg-primary-hover text-white fw-semibold rounded-3 position-absolute top-0 end-0 py-4 px-5 m-2"
                    >
                      開始探索旅程
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 你的專屬推薦 -->
      <section class="recommend bg-neutral-100 py-10 py-lg-13">
        <div class="container">
          <!-- 文字 -->
          <div
            class="mb-10 mb-lg-11 d-lg-flex justify-content-lg-between align-items-lg-center"
          >
            <div>
              <p class="fs-2 fs-lg-72 fw-bold lh-sm text-white mb-7 mb-lg-0">
                你的<br />專屬推薦
              </p>
            </div>
            <div>
              <p
                class="fs-sm fs-lg-lg lh-lg-sm fw-bold text-white mb-4 mb-lg-7"
              >
                來看我們的精選推薦行程，滿意度高達 99.2%<br />
                給自己一個難忘的旅遊行程吧！
              </p>
              <a
                href="#"
                class="fs-sm fw-bold text-white d-flex align-items-center"
                >查看全部行程<span
                  class="material-icons-outlined align-bottom fs-6 fs-lg-4 ms-2"
                >
                  arrow_forward
                </span></a
              >
            </div>
          </div>
          <!-- 卡片 電腦版 -->
          <div class="d-none d-lg-flex gap-5 overflow-x-auto">
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend.png?raw=true"
                class="card-img h-100"
                alt="recommend.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  峇里島渡假漫遊
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-1.png?raw=true"
                class="card-img h-100"
                alt="recommend-1.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  日本深度賞櫻計畫
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-2.png?raw=true"
                class="card-img h-100"
                alt="recommend-2.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  紐西蘭雪山探險
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-3.png?raw=true"
                class="card-img h-100"
                alt="recommend-3.png"
              />
              <div
                class="card-img-overlay d-flex flex-column justify-content-end"
              >
                <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                  摩洛哥迷幻之旅
                </p>
                <p class="fs-sm fs-lg-6 text-white mb-7">
                  漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
                </p>
                <div class="btn-hover">
                  <button
                    type="button"
                    class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                  >
                    訂購行程<span
                      class="material-icons-outlined align-bottom fs-4 p-1"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 卡片 手機版 -->
          <div class="d-lg-none">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend.png?raw=true"
                    class="card-img h-100"
                    alt="recommend.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      峇里島渡假漫遊
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-1.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-1.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      日本深度賞櫻計畫
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      春季限定，東京、京都、大阪賞櫻之旅，體驗日本文化的精髓。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-2.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-2.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      紐西蘭雪山探險
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      探索南島壯麗的自然風光，體驗各種極限運動和戶外活動。
                    </p>
                    <div class="btn-hover">
                      <button
                        type="button"
                        class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                      >
                        訂購行程<span
                          class="material-icons-outlined align-bottom fs-4 p-1"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide card bg-dark text-white rounded-5 overflow-hidden flex-shrink-0 flex-lg-shrink-1"
                >
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/recommend-3.png?raw=true"
                    class="card-img h-100"
                    alt="recommend-3.png"
                  />
                  <div
                    class="card-img-overlay d-flex flex-column justify-content-end"
                  >
                    <p class="fs-3 fs-lg-40 fw-bold lh-sm text-white mb-2">
                      摩洛哥迷幻之旅
                    </p>
                    <p class="fs-sm fs-lg-6 text-white mb-7">
                      漫步沙漠與古城之間，探索千年文化與色彩繽紛的市集風情。
                    </p>

                    <button
                      type="button"
                      class="btn bg-white rounded-pill fw-bold d-flex align-items-center justify-content-between p-6 w-100"
                    >
                      訂購行程<span
                        class="material-icons-outlined align-bottom fs-4 p-1"
                      >
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination bottom-0"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- ZOBAA! 踏上旅程的 第一站 -->
      <section class="deco py-10 py-lg-13 position-relative">
        <div class="container">
          <div
            class="row flex-lg-row-reverse justify-content-lg-between align-items-lg-center"
          >
            <div class="col-lg-4 mb-10 d-lg-flex justify-content-lg-end">
              <div>
                <p class="fs-2 fs-lg-72 fw-bold lh-sm text-primary-100 mb-7">
                  ZOBAA!<br />
                  踏上旅程的<br />
                  第一站
                </p>
                <p class="fs-sm fs-lg-lg lh-lg-sm fw-bold text-primary-60">
                  探索最熱門的旅遊主題，<br />從旅人必備攻略到獨家優惠，<br />
                  全都為你精挑細選。
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row mb-lg-6">
                <div class="col-lg-6 mb-5 mb-lg-0">
                  <div class="card rounded-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/intro-1.png?raw=true"
                      class="card-img-top rounded-top-4"
                      alt="intro-1"
                    />
                    <div class="card-body p-7">
                      <p class="card-text fs-lg fw-bold lh-sm mb-2">
                        ZOBAA 專屬推薦行程
                      </p>
                      <p class="text-neutral-80">嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                  <div class="card rounded-4 h-100">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/intro-2.png?raw=true"
                      class="card-img-top rounded-top-4"
                      alt="intro-2"
                    />
                    <div class="card-body p-7">
                      <p class="card-text fs-lg fw-bold lh-sm mb-2">
                        旅人攻略集合
                      </p>
                      <p class="text-neutral-80">
                        景點、交通、私房景點一次掌握
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row offset-row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                  <div class="card rounded-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/intro-3.png?raw=true"
                      class="card-img-top rounded-top-4"
                      alt="intro-3"
                    />
                    <div class="card-body p-7">
                      <p class="card-text fs-lg fw-bold lh-sm mb-2">
                        優惠機票、酒店
                      </p>
                      <p class="text-neutral-80">即時比價，聰明出發不踩雷</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card rounded-4">
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/intro-4.png?raw=true"
                      class="card-img-top rounded-top-4"
                      alt="intro-4"
                    />
                    <div class="card-body p-7">
                      <p class="card-text fs-lg fw-bold lh-sm mb-2">
                        銀行專屬優惠
                      </p>
                      <p class="text-neutral-80">
                        使用指定卡別享受獨家旅遊好康
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute deco-text-img z-n1 d-none d-lg-block">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/deco-text.svg"
              alt="deco-text.svg"
            />
          </div>
        </div>
      </section>
      <!-- 今年旅行的 靈感地圖 -->
      <section class="map">
        <img
          src="/assets/images/BG_Section.png"
          alt="BG_Section.png"
          class="bg-section-img-top"
        />
        <div class="bg-primary-10 py-10 py-lg-13">
          <div class="container">
            <div class="d-lg-flex justify-content-lg-between">
              <div class="mb-7">
                <div class="position-relative">
                  <p class="fs-2 fs-lg-72 fw-bold lh-sm text-primary-100 mb-7">
                    今年旅行的<br />靈感地圖
                  </p>
                  <div class="position-absolute deco-text-1-img">
                    <img
                      src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/deco-text-1.svg"
                      alt="deco-text-1.svg"
                    />
                  </div>
                </div>

                <ul
                  class="nav nav-pills flex-nowrap overflow-x-auto scroll-hidden"
                >
                  <li class="nav-item me-2">
                    <a
                      class="nav-link active fw-bold py-2 px-5 text-nowrap"
                      aria-current="page"
                      href="#"
                      >全部</a
                    >
                  </li>
                  <li class="nav-item me-2">
                    <a
                      class="nav-link fw-bold bg-white py-2 px-5 text-nowrap"
                      href="#"
                      >亞洲</a
                    >
                  </li>
                  <li class="nav-item me-2">
                    <a
                      class="nav-link fw-bold bg-white py-2 px-5 text-nowrap"
                      href="#"
                      >歐洲</a
                    >
                  </li>
                  <li class="nav-item me-2">
                    <a
                      class="nav-link fw-bold bg-white py-2 px-5 text-nowrap"
                      href="#"
                      >美洲</a
                    >
                  </li>
                  <li class="nav-item me-2">
                    <a
                      class="nav-link fw-bold bg-white py-2 px-5 text-nowrap"
                      href="#"
                      >大洋洲</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-bold bg-white py-2 px-5 text-nowrap"
                      href="#"
                      >非洲</a
                    >
                  </li>
                </ul>
              </div>
              <div class="d-lg-flex flex-lg-column justify-content-lg-end">
                <p class="fs-sm fs-lg-lg fw-bold text-primary mb-lg-7">
                  來自旅人搜尋、收藏與討論最多的目的地排行榜，<br />
                  一場風格與故事感兼具的靈感旅行，就從這裡開始。
                </p>
                <div class="d-none d-lg-flex justify-content-lg-end">
                  <button
                    type="button"
                    class="btn text-primary p-5 bg-white rounded-3 me-2"
                  >
                    <span class="material-icons-outlined align-bottom">
                      arrow_back
                    </span>
                  </button>
                  <button
                    type="button"
                    class="btn text-primary p-5 bg-white rounded-3"
                  >
                    <span class="material-icons-outlined align-bottom">
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <!-- 卡片 -->
            <div class="swiper mySwiper2 pt-10 pt-lg-11">
              <div class="swiper-wrapper">
                <div
                  class="position-relative swiper-slide z-2 card rounded-4 rounded-lg-6 p-5 pe-lg-9 d-lg-flex flex-lg-row overflow-visible"
                >
                  <span class="position-absolute badge number-badge"> 1 </span>
                  <div
                    class="d-flex justify-content-center mb-2 mb-lg-0 me-lg-9 flex-shrink-0"
                  >
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/map-1.png?raw=true"
                      class="rounded-4"
                      alt="map-1.png"
                    />
                  </div>
                  <div class="d-flex flex-column h-100">
                    <div class="mb-7 mb-lg-10">
                      <div class="mb-2">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                          >亞洲</span
                        ><span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                          >日本京都</span
                        >
                      </div>
                      <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">
                        走進四季交織的文化時光
                      </p>
                      <p class="fs-sm fs-lg-6 text-neutral-80">
                        穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。
                      </p>
                    </div>
                    <div class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center">
                      <div class="mb-2 mb-lg-0 flex-shrink-0">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 p-2 rounded-2 me-2"
                          >ZOBAA 建議</span
                        >
                      </div>
                      <p class="fs-sm fs-lg-6 text-primary">
                        賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁
                      </p>
                    </div>
                    <div class="mt-auto">
                      <button
                        type="button"
                        class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-6 rounded-pill d-flex justify-content-between align-items-center w-100"
                      >
                        立即探索魅力古都
                        <span
                          class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="position-relative swiper-slide card rounded-4 rounded-lg-6 p-5 pe-lg-9 d-lg-flex flex-lg-row"
                >
                  <span class="position-absolute badge number-badge"> 2 </span>
                  <div
                    class="d-flex justify-content-center mb-2 mb-lg-0 me-lg-9 flex-shrink-0"
                  >
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/map-2.png?raw=true"
                      class="rounded-4"
                      alt="map-2.png"
                    />
                  </div>
                  <div class="d-flex flex-column h-100">
                    <div class="mb-7 mb-lg-10">
                      <div class="mb-2">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                          >亞洲</span
                        ><span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                          >南韓首爾</span
                        >
                      </div>
                      <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">
                        從街邊美食到韓劇場景
                      </p>
                      <p class="fs-sm fs-lg-6 text-neutral-80">
                        白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。
                      </p>
                    </div>
                    <div class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center">
                      <div class="mb-2 mb-lg-0 flex-shrink-0">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 p-2 rounded-2 me-2"
                          >ZOBAA 建議</span
                        >
                      </div>
                      <p class="fs-sm fs-lg-6 text-primary">
                        弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨
                      </p>
                    </div>
                    <div class="mt-auto">
                      <button
                        type="button"
                        class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-6 rounded-pill d-flex justify-content-between align-items-center w-100"
                      >
                        感受韓系風格日常
                        <span
                          class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="position-relative swiper-slide card rounded-4 rounded-lg-6 p-5 pe-lg-9 d-lg-flex flex-lg-row"
                >
                  <span class="position-absolute badge number-badge"> 3 </span>
                  <div
                    class="d-flex justify-content-center mb-2 mb-lg-0 me-lg-9 flex-shrink-0"
                  >
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/map-3.png?raw=true"
                      class="rounded-4"
                      alt="map-3.png"
                    />
                  </div>
                  <div class="d-flex flex-column h-100">
                    <div class="mb-7 mb-lg-10">
                      <div class="mb-2">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                          >歐洲</span
                        ><span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                          >法國巴黎</span
                        >
                      </div>
                      <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">
                        在藝術與咖啡香中迷路
                      </p>
                      <p class="fs-sm fs-lg-6 text-neutral-80">
                        穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。
                      </p>
                    </div>
                    <div class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center">
                      <div class="mb-2 mb-lg-0 flex-shrink-0">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 p-2 rounded-2 me-2"
                          >ZOBAA 建議</span
                        >
                      </div>
                      <p class="fs-sm fs-lg-6 text-primary">
                        走進瑪黑區，最容易與巴黎風格不期而遇 ☕️
                      </p>
                    </div>
                    <div class="mt-auto">
                      <button
                        type="button"
                        class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-6 rounded-pill d-flex justify-content-between align-items-center w-100"
                      >
                        立即探索魅力古都
                        <span
                          class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="position-relative swiper-slide card rounded-4 rounded-lg-6 p-5 pe-lg-9 d-lg-flex flex-lg-row"
                >
                  <span class="position-absolute badge number-badge"> 4 </span>
                  <div
                    class="d-flex justify-content-center mb-2 mb-lg-0 me-lg-9 flex-shrink-0"
                  >
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/map-4.png?raw=true"
                      class="rounded-4"
                      alt="map-4.png"
                    />
                  </div>
                  <div class="d-flex flex-column h-100">
                    <div class="mb-7 mb-lg-10">
                      <div class="mb-2">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                          >大洋洲</span
                        ><span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                          >澳洲雪梨</span
                        >
                      </div>
                      <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">
                        城市與大自然的交會
                      </p>
                      <p class="fs-sm fs-lg-6 text-neutral-80">
                        清晨在海灘做瑜珈，午後漫步歌劇院，享受城市的節奏與野性的呼喚。
                      </p>
                    </div>
                    <div class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center">
                      <div class="mb-2 mb-lg-0">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 p-2 rounded-2 me-2"
                          >ZOBAA 建議</span
                        >
                      </div>
                      <p class="fs-sm fs-lg-6 text-primary">
                        別錯過傍晚在雪梨港看日落＋欣賞歌劇院夜燈 ✨
                      </p>
                    </div>
                    <div class="mt-auto">
                      <button
                        type="button"
                        class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-6 rounded-pill d-flex justify-content-between align-items-center w-100"
                      >
                        立即探索魅力古都
                        <span
                          class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  class="position-relative swiper-slide card rounded-4 rounded-lg-6 p-5 pe-lg-9 d-lg-flex flex-lg-row"
                >
                  <span class="position-absolute badge number-badge"> 5 </span>
                  <div
                    class="d-flex justify-content-center mb-2 mb-lg-0 me-lg-9 flex-shrink-0"
                  >
                    <img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/map-1.png?raw=true"
                      class="rounded-4"
                      alt="map-1.png"
                    />
                  </div>
                  <div class="d-flex flex-column h-100">
                    <div class="mb-7 mb-lg-10">
                      <div class="mb-2">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                          >非洲</span
                        ><span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                          >埃及開羅</span
                        >
                      </div>
                      <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">
                        穿越千年時光的沙漠冒險
                      </p>
                      <p class="fs-sm fs-lg-6 text-neutral-80">
                        乘著駱駝走過古老遺跡，抬頭仰望太陽神的光芒，在歷史與傳說之間迷失。
                      </p>
                    </div>
                    <div class="mb-7 mb-lg-10 d-lg-flex align-items-lg-center">
                      <div class="mb-2 mb-lg-0 flex-shrink-0">
                        <span
                          class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 p-2 rounded-2 me-2"
                          >ZOBAA 建議</span
                        >
                      </div>
                      <p class="fs-sm fs-lg-6 text-primary">
                        建議早上 8 點前到吉薩金字塔，避開人潮與烈日 ☀️
                      </p>
                    </div>
                    <div class="mt-auto">
                      <button
                        type="button"
                        class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-6 rounded-pill d-flex justify-content-between align-items-center w-100"
                      >
                        立即探索魅力古都
                        <span
                          class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                        >
                          arrow_forward
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
        <img
          src="/assets/images/BG_Section.png"
          alt="BG_Section.png"
          class="bg-section-img-bottom"
        />
      </section>
      <!-- 搜尋墨爾本嗎？ -->
      <section>
        <div class="py-10 py-lg-13">
          <div class="container">
            <div class="position-relative">
              <img
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-%23.svg"
                alt="bg-%23.svg"
                class="position-absolute z-n1 bg-badge"
              />
              <p
                class="fs-2 fs-lg-72 fw-bold lh-sm text-primary-100 mb-10 mb-lg-11"
              >
                搜尋墨爾本嗎？<br />
                來點行程參考！
              </p>
            </div>
            <div class="position-relative">
              <button
                type="button"
                class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 left-n52 translate-middle z-2 shadow-lg"
              >
                <span class="material-icons-outlined align-bottom">
                  arrow_back
                </span>
              </button>
              <div class="swiper mySwiper pb-0">
                <div class="swiper-wrapper">
                  <div class="swiper-slide card border-0 overflow-hidden">
                    <div class="position-relative">
                      <img
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/journey-1.png?raw=true"
                        class="rounded-20 mb-5"
                        alt="journey-1.png"
                      />
                      <span
                        class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                      >
                        favorite_border
                      </span>
                    </div>
                    <div class="d-flex flex-column h-100">
                      <div class="mb-2">
                        <p class="fw-bold text-black">
                          【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊
                        </p>
                      </div>
                      <div class="mb-2 mt-auto">
                        <span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                          >即買即用</span
                        ><span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                          >5 天前可免費取消</span
                        >
                      </div>
                      <div
                        class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                      >
                        <p
                          class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                        >
                          <span
                            class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                          >
                            star </span
                          >4.2 <span class="text-neutral-60 ms-1"></span>(333)
                        </p>
                        <span class="d-inline-block fs-sm text-neutral-80"
                          >500+ 個已訂購</span
                        >
                      </div>
                      <div>
                        <p class="fw-bold lh-sm fs-lg text-primary-100">
                          NT$ 4,220
                        </p>
                        <p
                          class="fs-sm text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 5,220
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide card border-0 overflow-hidden">
                    <div class="position-relative">
                      <img
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/journey-2.png?raw=true"
                        class="rounded-20 mb-5"
                        alt="journey-2.png"
                      />
                      <span
                        class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                      >
                        favorite_border
                      </span>
                    </div>
                    <div class="d-flex flex-column h-100">
                      <div class="mb-2">
                        <p class="fw-bold text-black">
                          無尾熊動物園＋企鵝歸巢雙享之旅
                        </p>
                      </div>
                      <div class="mb-2 mt-auto">
                        <span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                          >即買即用</span
                        ><span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                          >7 天前可免費取消</span
                        >
                      </div>
                      <div
                        class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                      >
                        <p
                          class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                        >
                          <span
                            class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                          >
                            star </span
                          >4.2 <span class="text-neutral-60 ms-1"></span>(333)
                        </p>
                        <span class="d-inline-block fs-sm text-neutral-80"
                          >500+ 個已訂購</span
                        >
                      </div>
                      <div>
                        <p class="fw-bold lh-sm fs-lg text-primary-100">
                          NT$ 3,890
                        </p>
                        <p
                          class="fs-sm text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 4,920
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide card border-0 overflow-hidden">
                    <div class="position-relative">
                      <img
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/journey-3.png?raw=true"
                        class="rounded-20 mb-5"
                        alt="journey-3.png"
                      />
                      <span
                        class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                      >
                        favorite_border
                      </span>
                    </div>
                    <div class="d-flex flex-column h-100">
                      <div class="mb-2">
                        <p class="fw-bold text-black">
                          大洋路經典一日遊｜中文導覽！體驗澳洲最夢幻的海岸線
                        </p>
                      </div>
                      <div class="mb-2 mt-auto">
                        <span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                          >中文導覽</span
                        ><span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                          >5 天前可免費取消</span
                        >
                      </div>
                      <div
                        class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                      >
                        <p
                          class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                        >
                          <span
                            class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                          >
                            star </span
                          >4.2 <span class="text-neutral-60 ms-1"></span>(333)
                        </p>
                        <span class="d-inline-block fs-sm text-neutral-80"
                          >500+ 個已訂購</span
                        >
                      </div>
                      <div>
                        <p class="fw-bold lh-sm fs-lg text-primary-100">
                          NT$ 3,690
                        </p>
                        <p
                          class="fs-sm text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 4,500
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide card border-0 overflow-hidden">
                    <div class="position-relative">
                      <img
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/journey-4.png?raw=true"
                        class="rounded-20 mb-5"
                        alt="journey-4.png"
                      />
                      <span
                        class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                      >
                        favorite_border
                      </span>
                    </div>
                    <div class="d-flex flex-column h-100">
                      <div class="mb-2">
                        <p class="fw-bold text-black">
                          墨爾本市區導覽｜壁畫巷＋隱藏咖啡廳之旅，體驗本地咖啡文化、隱藏小巷拍照
                        </p>
                      </div>
                      <div class="mb-2 mt-auto">
                        <span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                          >專業導覽</span
                        ><span
                          class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                          >3 天前可免費取消</span
                        >
                      </div>
                      <div
                        class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                      >
                        <p
                          class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                        >
                          <span
                            class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                          >
                            star </span
                          >4.2 <span class="text-neutral-60 ms-1"></span>(333)
                        </p>
                        <span class="d-inline-block fs-sm text-neutral-80"
                          >500+ 個已訂購</span
                        >
                      </div>
                      <div>
                        <p class="fw-bold lh-sm fs-lg text-primary-100">
                          NT$1,280
                        </p>
                        <p
                          class="fs-sm text-neutral-60 text-decoration-line-through"
                        >
                          NT$ 2,480
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                type="button"
                class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 right-n108 translate-middle z-2 shadow-lg"
              >
                <span class="material-icons-outlined align-bottom">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="marquee-container">
          <div class="marquee">
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-1.svg"
              alt="title-1.svg"
            />
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-2.svg"
              alt="title-2.svg"
            />
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-3.svg"
              alt="title-3.svg"
            />
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-1.svg"
              alt="title-1.svg"
            />
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-2.svg"
              alt="title-2.svg"
            />
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-title-3.svg"
              alt="title-3.svg"
            />
          </div>
        </div>
      </section>
      <!-- 為什麼選擇 ZOBAA ? -->
      <section class="bg-primary-40 position-relative overflow-hidden z-1">
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-down.svg"
          alt="bg-down.svg"
          class="position-absolute bg-top-img d-none d-lg-block"
        />
        <div class="container z-2">
          <div class="py-10 py-lg-13">
            <div class="d-lg-none mb-2">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/index/card.png?raw=true"
                class="card-img rounded-5"
                alt="card.png"
              />
            </div>
            <div class="d-none d-lg-flex mb-lg-7">
              <img
                src="/assets/images/Background Image.png"
                class="card-img rounded-6"
                alt="card.png"
              />
            </div>
            <div
              class="bg-primary-10 rounded-5 rounded-lg-6 p-7 p-lg-9 d-lg-flex flex-lg-row justify-content-lg-between"
            >
              <div class="mb-7 mb-lg-0">
                <p
                  class="fs-4 fs-lg-1 fw-bold lh-sm text-primary-100 mb-5 mb-lg-7"
                >
                  為什麼選擇 ZOBAA ?
                </p>
                <p class="fs-sm fs-lg-6 text-neutral-80 mb-lg-7">
                  不只是帶你抵達目的地，更在每一次出發前，替你預想所有細節。<br />ZOBΛA
                  希望你能放心探索世界，把記憶留給旅程本身。
                </p>
                <div class="d-none d-lg-block">
                  <button
                    type="button"
                    class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-7 py-lg-7 px-lg-9 rounded-pill d-flex align-items-center"
                  >
                    立即探索我們的精心旅程
                    <span
                      class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2 ms-lg-5"
                    >
                      arrow_forward
                    </span>
                  </button>
                </div>
              </div>
              <div class="mb-7 mb-lg-0 d-lg-flex flex-lg-row">
                <div
                  class="card border-0 p-7 mb-5 mb-lg-0 ps-lg-9 me-lg-5 w-lg-300 d-lg-flex justify-content-lg-center"
                >
                  <p class="fs-2 fs-lg-1 fw-bold lh-sm text-primary-100 mb-2">
                    8 年
                    <span
                      class="material-icons-outlined align-top fs-6 fs-lg-4 ms-2 text-primary-100 fw-bold"
                    >
                      add
                    </span>
                  </p>
                  <p class="fs-lg-lg fw-bold text-primary-80">旅遊企劃經驗</p>
                </div>
                <div
                  class="card border-0 p-7 w-lg-300 d-lg-flex justify-content-lg-center"
                >
                  <p class="fs-2 fs-lg-1 fw-bold lh-sm text-primary-100 mb-2">
                    30,000
                    <span
                      class="material-icons-outlined align-top fs-6 fs-lg-4 ms-2 text-primary-100 fw-bold"
                    >
                      add
                    </span>
                  </p>
                  <p class="fs-lg-lg fw-bold text-primary-80">旅人五星好評</p>
                </div>
              </div>
              <div class="d-lg-none">
                <button
                  type="button"
                  class="fs-sm fs-lg-6 btn bg-black text-white py-5 px-7 rounded-pill d-flex justify-content-between align-items-center w-100"
                >
                  立即探索我們的精心旅程
                  <span
                    class="material-icons-outlined align-bottom bg-white text-black rounded-circle fs-6 p-2"
                  >
                    arrow_forward
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-line.svg"
          alt="bg-line.svg"
          class="position-absolute top-50 d-none d-lg-block z-n1"
        />
        <img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/index/bg-down.svg"
          alt="bg-down.svg"
          class="position-absolute bg-down-img d-none d-lg-block z-n1"
        />
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
