<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Material+Icons+Outlined -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <!-- swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>地點搜尋頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 搜尋頁介紹 -->
    <section class="search-intro">
      <div class="container">
        <div class="d-none d-lg-block mb-lg-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-lg-0">
              <li class="breadcrumb-item text-primary-100">
                <a href="index.html">首頁</a>
              </li>
              <li class="breadcrumb-item text-primary-100 ps-4">
                <a href="#">日本</a>
              </li>
              <li class="breadcrumb-item text-primary-100 ps-4">
                <a href="#">關西</a>
              </li>
              <li
                class="breadcrumb-item text-neutral-60 ps-4 active"
                aria-current="page"
              >
                大阪
              </li>
            </ol>
          </nav>
        </div>
        <div class="mb-7">
          <p class="fs-2 fs-lg-1 fw-bold lh-sm mb-2">大阪</p>
          <p class="fs-sm fs-lg-6 text-neutral-80">
            大阪，一座融合傳統與現代的城市，擁有豐富的歷史文化、熱鬧的購物街區與世界知名的美食天堂。從氣派的大阪城到霓虹閃爍的道頓堀，每一處都充滿驚喜。無論是第一次造訪，還是再次回味，大阪總能用它的熱情與魅力，讓你留下難忘回憶。
          </p>
        </div>
        <div class="d-lg-none search-1 swiper mySwiper3 position-relative">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-1.png?raw=true"
                alt="osaka-1.png"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-2.png?raw=true"
                alt="osaka-2.png"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-3.png?raw=true"
                alt="osaka-3.png"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-4.png?raw=true"
                alt="osaka-4.png"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-5.png?raw=true"
                alt="osaka-5.png"
              />
            </div>
          </div>
          <button
            type="button"
            class="position-absolute z-1 bottom-0 end-0 btn border-primary-100 bg-white text-primary-100 fw-semibold py-5 px-9 mb-4 me-4 rounded-3"
          >
            查看更多
          </button>
          <div class="swiper-pagination"></div>
        </div>
        <div
          class="img-group d-none d-lg-flex flex-lg-row column-gap-2 position-relative"
        >
          <div class="d-flex column-gap-2">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-1.png?raw=true"
              alt="osaka-1.png"
              class="rounded-start-5"
            />
            <div class="d-flex flex-column row-gap-2">
              <div class="d-flex column-gap-2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-2.png?raw=true"
                  alt="osaka-2.png"
                />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-3.png?raw=true"
                  alt="osaka-3.png"
                  class="rounded-top-end-5"
                />
              </div>
              <div class="d-flex column-gap-2">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-4.png?raw=true"
                  alt="osaka-4.png"
                />
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/osaka-5.png?raw=true"
                  alt="osaka-5.png"
                  class="rounded-bottom-end-5"
                />
              </div>
            </div>
          </div>
          <button
            type="button"
            class="position-absolute z-1 bottom-0 end-0 btn border-primary-100 bg-white text-primary-100 fw-semibold py-5 px-9 mb-9 me-9 rounded-3"
          >
            查看更多
          </button>
        </div>
      </div>
    </section>
    <!-- 想怎麼玩大阪？熱門分類快速選！ -->
    <section>
      <div class="container py-10 py-lg-11">
        <p class="fs-2 fs-lg-1 text-primary-100 lh-sm fw-bold mb-6 mb-lg-10">
          想怎麼玩大阪？ <span class="d-lg-none"><br /></span>熱門分類快速選！
        </p>
        <div class="row">
          <div class="col-6 col-lg-3 mb-5 mb-lg-0 pe-2 pe-lg-4">
            <div
              class="search-hit-hover card rounded-4 rounded-lg-5 overflow-hidden"
            >
              <div
                class="bg-primary-10 py-6 d-flex justify-content-center align-items-center"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-1.svg"
                  class="category-img bg-primary-10"
                  alt="category-1.svg"
                />
              </div>
              <div class="card-body p-lg-7">
                <p class="fw-bold mb-2 lh-lg-sm fs-lg-lg">交通優惠</p>
                <p class="fs-sm fs-lg-6 text-neutral-80">20+ 種選擇</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 mb-5 mb-lg-0 ps-2 ps-lg-4">
            <div
              class="search-hit-hover card rounded-4 rounded-lg-5 overflow-hidden"
            >
              <div
                class="bg-primary-10 py-6 d-flex justify-content-center align-items-center"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-2.svg"
                  class="category-img bg-primary-10"
                  alt="category-2.svg"
                />
              </div>
              <div class="card-body p-lg-7">
                <p class="fw-bold mb-2 lh-lg-sm fs-lg-lg">一日遊</p>
                <p class="fs-sm fs-lg-6 text-neutral-80">50+ 種選擇</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 pe-2 pe-lg-4">
            <div
              class="search-hit-hover card rounded-4 rounded-lg-5 overflow-hidden"
            >
              <div
                class="bg-primary-10 py-6 d-flex justify-content-center align-items-center"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-3.svg"
                  class="category-img bg-primary-10"
                  alt="category-3.svg"
                />
              </div>
              <div class="card-body p-lg-7">
                <p class="fw-bold mb-2 lh-lg-sm fs-lg-lg">景點門票</p>
                <p class="fs-sm fs-lg-6 text-neutral-80">70+ 種選擇</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3 ps-2 ps-lg-4">
            <div
              class="search-hit-hover card rounded-4 rounded-lg-5 overflow-hidden"
            >
              <div
                class="bg-primary-10 py-6 d-flex justify-content-center align-items-center"
              >
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c07852c7f1c21031d6380bb4398e2163f71122c9/2025-week8/location/category-4.svg"
                  class="category-img bg-primary-10"
                  alt="category-4.svg"
                />
              </div>
              <div class="card-body p-lg-7">
                <p class="fw-bold mb-2 lh-lg-sm fs-lg-lg">美食餐廳</p>
                <p class="fs-sm fs-lg-6 text-neutral-80">80+ 種選擇</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 大阪 TOP 10! -->
    <section>
      <div class="container py-10 py-lg-11">
        <p class="fs-2 fs-lg-1 fw-bold text-primary-100 mb-6 mb-lg-10">
          大阪 TOP 10!
        </p>
        <div class="position-relative">
          <button
            type="button"
            class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 left-n52 translate-middle z-2 shadow-lg"
          >
            <span class="material-icons-outlined align-bottom">
              arrow_back
            </span>
          </button>
          <div class="swiper mySwiper pb-0">
            <div class="swiper-wrapper">
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative rounded-20">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="rounded-20 mb-5 object-fit-cover"
                    alt="top-1.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >即買即用</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.8 <span class="text-neutral-60 ms-1"></span>(1029)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >1000+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 5,480
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 6,200
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative rounded-20">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-2.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >中文導覽</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.7 <span class="text-neutral-60 ms-1"></span>(880)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >900+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 2,250
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 2,800
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative rounded-20">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-3.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >專業導覽</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.6 <span class="text-neutral-60 ms-1"></span>(540)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >700+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 1,580
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 2,500
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative rounded-20">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-4.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >即買即用</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >7 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.7 <span class="text-neutral-60 ms-1"></span>(319)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >600+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">NT$6,890</p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 8,890
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 right-n108 translate-middle z-2 shadow-lg"
          >
            <span class="material-icons-outlined align-bottom">
              arrow_forward
            </span>
          </button>
        </div>
      </div>
    </section>
    <!-- 來自 ZOBAA 的大阪推薦 -->
    <section>
      <div class="container py-10 py-lg-11">
        <p class="fs-2 fs-lg-1 fw-bold text-primary-100 mb-6 mb-lg-10">
          來自 ZOBAA 的<span class="d-lg-none"><br /></span> 大阪推薦
        </p>
        <div class="mb-6 mb-lg-10 border-bottom border-neutral-40">
          <ul class="nav flex-nowrap overflow-x-auto scroll-hidden">
            <li class="nav-item ms-2 me-9">
              <a
                class="nav-link active fw-semibold py-5 px-0 text-nowrap text-primary-100 border-3 border-bottom border-primary-100"
                aria-current="page"
                href="#"
                >觀光行程</a
              >
            </li>
            <li class="nav-item me-2 me-9">
              <a
                class="nav-link fw-semibold py-5 px-0 text-nowrap text-primary-100"
                href="#"
                >景點門票</a
              >
            </li>
            <li class="nav-item me-2 me-9">
              <a
                class="nav-link fw-semibold py-5 px-0 text-nowrap text-primary-100"
                href="#"
                >交通優惠</a
              >
            </li>
            <li class="nav-item me-2 me-9">
              <a
                class="nav-link fw-semibold py-5 px-0 text-nowrap text-primary-100"
                href="#"
                >美食餐廳</a
              >
            </li>
            <li class="nav-item me-2 me-9">
              <a
                class="nav-link fw-semibold py-5 px-0 text-nowrap text-primary-100"
                href="#"
                >本月優惠</a
              >
            </li>
          </ul>
        </div>
        <div class="position-relative">
          <button
            type="button"
            class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 left-n52 translate-middle z-2 shadow-lg"
          >
            <span class="material-icons-outlined align-bottom">
              arrow_back
            </span>
          </button>
          <div class="swiper mySwiper pb-0">
            <div class="swiper-wrapper">
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-1.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-1.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      環球影城超值一日遊｜哈利波特園區＋快速通關體驗
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >即買即用</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.8 <span class="text-neutral-60 ms-1"></span>(1029)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >1000+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 5,480
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 6,200
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-2.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-2.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      奈良梅花鹿餵食體驗＋和服散策｜日式風情輕旅行
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >中文導覽</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.7 <span class="text-neutral-60 ms-1"></span>(880)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >900+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 2,250
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 2,800
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-3.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-3.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      黑門市場美食巡禮｜在地職人帶路吃遍大阪經典小吃
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >專業導覽</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >5 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.6 <span class="text-neutral-60 ms-1"></span>(540)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >700+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">
                      NT$ 1,580
                    </p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 2,500
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="search swiper-slide card border-0 overflow-hidden rounded-20"
              >
                <div class="position-relative">
                  <img
                    src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/top-4.png?raw=true"
                    class="rounded-20 mb-5"
                    alt="top-4.png"
                  />
                  <span
                    class="position-absolute p-5 material-icons-outlined align-bottom text-white bg-black bg-opacity-50 end-0 rounded-top-right-bottom-start"
                  >
                    favorite_border
                  </span>
                </div>
                <div class="d-flex flex-column h-100">
                  <div class="mb-2">
                    <p class="title fw-bold">
                      大阪夜景直升機體驗｜空中俯瞰梅田摩天輪＋海遊館
                    </p>
                  </div>
                  <div class="mb-2 mt-auto">
                    <span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 me-2 rounded"
                      >即買即用</span
                    ><span
                      class="d-inline-block fs-sm text-primary-100 bg-primary-10 py-1 px-2 rounded"
                      >7 天前可免費取消</span
                    >
                  </div>
                  <div
                    class="d-flex align-items-center mb-5 pb-5 border-bottom border-neutral-40"
                  >
                    <p
                      class="d-flex align-items-center fs-sm text-neutral-80 pe-4 me-4 border-end border-neutral-40"
                    >
                      <span
                        class="material-icons-outlined align-bottom text-warning fs-sm me-1"
                      >
                        star </span
                      >4.7 <span class="text-neutral-60 ms-1"></span>(319)
                    </p>
                    <span class="d-inline-block fs-sm text-neutral-80"
                      >600+ 個已訂購</span
                    >
                  </div>
                  <div>
                    <p class="fw-bold lh-sm fs-lg text-primary-100">NT$6,890</p>
                    <p
                      class="fs-sm text-neutral-60 text-decoration-line-through"
                    >
                      NT$ 8,890
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            type="button"
            class="d-none d-xxl-flex btn text-primary p-5 bg-white rounded-3 position-absolute top-50 right-n108 translate-middle z-2 shadow-lg"
          >
            <span class="material-icons-outlined align-bottom">
              arrow_forward
            </span>
          </button>
        </div>
      </div>
    </section>
    <!-- 旅人攻略看看大家怎麼玩！ -->
    <section class="bg-primary-10">
      <div class="container py-10 py-lg-13">
        <div
          class="d-lg-flex flex-lg-row justify-content-lg-between align-items-lg-center mb-6 mb-lg-11"
        >
          <div>
            <p class="fs-2 fs-lg-1 fw-bold lh-sm text-primary-100 mb-2 mb-lg-0">
              旅人攻略
            </p>
            <p class="fs-2 fs-lg-1 fw-bold lh-sm text-primary-100">
              看看大家怎麼玩！
            </p>
          </div>
          <div>
            <p class="fs-lg-lg fw-bold text-primary my-2">
              這裡不只是遊記，更是來自旅人親身經歷的風格指南與靈感筆記。
            </p>
            <p class="fs-lg-lg fw-bold text-primary">
              跟著他們的腳步走，找到屬於你的旅行意義。
            </p>
          </div>
        </div>
        <div>
          <div
            class="search-tip-hover card rounded-6 rounded-lg-6 p-5 p-lg-9 d-lg-flex flex-lg-row overflow-visible mb-7"
          >
            <div
              class="d-flex justify-content-center mb-5 mb-lg-0 me-lg-9 flex-shrink-0"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/guide-1.png?raw=true"
                class="rounded-4 object-fit-cover"
                alt="guide-1.png"
                style="height: 232px"
              />
            </div>
            <div class="d-flex flex-column h-100">
              <div class="mb-10 mb-lg-10">
                <div class="mb-7">
                  <span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                    >#大阪</span
                  ><span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                    >#老街巡禮</span
                  >
                </div>
                <p class="title fs-3 fs-lg-40 fw-bold lh-sm mb-2">
                  空堀商店街的散步節奏
                </p>
                <p class="text fs-sm fs-lg-6">
                  離開熱鬧難波，走進空堀這座時間凍結的老街，每家店都像一段回憶：木造喫茶、手工小物、安靜的巷弄轉角。這裡沒有觀光氣氛，只有城市最真實的日常樣貌...
                </p>
              </div>
              <div class="d-lg-flex justify-content-lg-end">
                <a
                  href="#"
                  class="fs-lg-6 fw-bold text-primary-100 d-flex align-items-center"
                >
                  查看文章
                  <span
                    class="material-icons-outlined align-bottom fs-4 ms-2 text-primary-100"
                  >
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="search-tip-hover card rounded-6 rounded-lg-6 p-5 p-lg-9 d-lg-flex flex-lg-row overflow-visible mb-7"
          >
            <div
              class="d-flex justify-content-center mb-5 mb-lg-0 me-lg-9 flex-shrink-0"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/guide-2.png?raw=true"
                class="rounded-4 object-fit-cover"
                alt="guide-2.png"
                style="height: 232px"
              />
            </div>
            <div class="d-flex flex-column h-100">
              <div class="mb-10 mb-lg-10">
                <div class="mb-7">
                  <span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                    >#大阪</span
                  ><span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                    >#庶民美食</span
                  >
                </div>
                <p class="title fs-3 fs-lg-40 fw-bold lh-sm mb-2">
                  深夜的章魚燒與便利商店啤酒
                </p>
                <p class="text fs-sm fs-lg-6">
                  難波站邊的小巷，有開到凌晨的章魚燒老店。坐在路邊配一罐便利商店啤酒，看路人談天、喝醉、笑鬧，這種庶民感才是我最懷念的大阪味道。
                </p>
              </div>
              <div class="d-lg-flex justify-content-lg-end">
                <a
                  href="#"
                  class="fs-lg-6 fw-bold text-primary-100 d-flex align-items-center"
                >
                  查看文章
                  <span
                    class="material-icons-outlined align-bottom fs-4 ms-2 text-primary-100"
                  >
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="search-tip-hover card rounded-6 rounded-lg-6 p-5 p-lg-9 d-lg-flex flex-lg-row overflow-visible mb-7"
          >
            <div
              class="d-flex justify-content-center mb-5 mb-lg-0 me-lg-9 flex-shrink-0"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/guide-3.png?raw=true"
                class="rounded-4 object-fit-cover"
                alt="guide-3.png"
                style="height: 232px"
              />
            </div>
            <div class="d-flex flex-column h-100">
              <div class="mb-10 mb-lg-10">
                <div class="mb-7">
                  <span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                    >#大阪</span
                  ><span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                    >#靜態旅行</span
                  >
                </div>
                <p class="title fs-3 fs-lg-40 fw-bold lh-sm mb-2">
                  一個人在中之島圖書館待一整天
                </p>
                <p class="text fs-sm fs-lg-6">
                  陰天的中之島很安靜，我選擇在百年圖書館裡消磨一整天。閱讀、打盹、寫明信片，從高聳書架與拱形窗邊找到片刻的呼吸空間。不趕行程的日子，才最像我想要的旅途。
                </p>
              </div>
              <div class="d-lg-flex justify-content-lg-end">
                <a
                  href="#"
                  class="fs-lg-6 fw-bold text-primary-100 d-flex align-items-center"
                >
                  查看文章
                  <span
                    class="material-icons-outlined align-bottom fs-4 ms-2 text-primary-100"
                  >
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="search-tip-hover card rounded-6 rounded-lg-6 p-5 p-lg-9 d-lg-flex flex-lg-row overflow-visible"
          >
            <div
              class="d-flex justify-content-center mb-5 mb-lg-0 me-lg-9 flex-shrink-0"
            >
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week8/location/guide-4.png?raw=true"
                class="rounded-4 object-fit-cover"
                alt="guide-4.png"
                style="height: 232px"
              />
            </div>
            <div class="d-flex flex-column h-100">
              <div class="mb-10 mb-lg-10">
                <div class="mb-7">
                  <span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2 me-2"
                    >#大阪</span
                  ><span
                    class="d-inline-block fs-sm fs-lg-6 fw-bold text-primary bg-primary-10 px-5 py-2 rounded-2"
                    >#在地文化</span
                  >
                </div>
                <p class="title fs-3 fs-lg-40 fw-bold lh-sm mb-2">
                  跟著在地人玩「新世界」
                </p>
                <p class="text fs-sm fs-lg-6">
                  走進「新世界」，才發現大阪有多狂、有多生活。串炸店裡全是吆喝聲、立吞店排滿上班族，還有拍不完的霓虹與搞笑招牌。這一區又亂又熱鬧，但真實又迷人。
                </p>
              </div>
              <div class="d-lg-flex justify-content-lg-end">
                <a
                  href="#"
                  class="fs-lg-6 fw-bold text-primary-100 d-flex align-items-center"
                >
                  查看文章
                  <span
                    class="material-icons-outlined align-bottom fs-4 ms-2 text-primary-100"
                  >
                    arrow_forward
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
